#noticemessages{
	margin-top:60px;
    width:98%;
	margin-left:2%;
    height:10px;
    flex:1 0 auto;
	overflow:auto;
	background-color:#f2f2f2;
	   
}
.chat_link{
	width:100%;
	height:fit-content;
	padding:10px 20px;
	background-color:#50C878; 
	color:black;
	display:flex;
	flex-direction:row;
	align-items:center;
	text-decoration:none;
	margin-top:1px;
}
.chath_link{
	color:black;
	font-size:20px;
	padding:30px 20px 10px 20px;
	height:fit-content;
	width:100%;
	margin-top:0;
}
.chat_icon{
	width:100px;
	margin-right:20px;
	
}
.chat_header{
	margin-right:20px;
	width:300px;
}