#signlink {
  width: 50%;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius:20px;
  padding: 10px;
  background-color: rgb(47,86,99);
  margin: 10px auto 10px auto;
  text-align:center;
} 
#signlink a{
  background-color: #501878;
  text-decoration:none;
  color:black;
}
#signlink a:hover{
	
  text-decoration:none;
  color:white;
  
}
