#text{
    display: flex;
    height: 70px;
	background-color:#50C878;
	width:80%;
	padding:10px;
	margin:auto;
	position:absolute;
	bottom:0;
}
#text button{
    background-color: green;
	color:white;
    border: none;
    height: 25px;
    width:100px;
    border-radius: 7px;
	margin:10px 20px 10px auto;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
#text textarea{
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    width:70%;
    border-radius: 12px;
    height: 40px;
    padding:10px;
    
}
#send{
	margin:5px 5px 10px 20px;
	
}

#upload{
    font-size: 2em;
}
#chat-groups{
    height:100%;
}
#message{
	max-width:60%;
	padding:10px;
	width:fit-content;
	overflow-wrap: break-word; 
	height:fit-content;
	text-align:center;
	margin:10px auto;
	color:white;
	background-color:#a2a2a2;
	border-radius:5px;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
	
}
#message button{
	cursor: pointer;
}